@keyframes navTransition{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes hoverBtn{
	from{
		background-color:#33FF33;
	}
	to{
		background-color:#77AA77;
	}
}
@keyframes backgroundAnim{
	0%{
		background-color:#343;
	}
	15%{
		background-color:#A43;
	}
	30%{
		background-color:#6A4;
	}
	45%{
		background-color:#65B;
	}
	60%{
		background-color:#AB5;
	}
	75%{
		background-color:#A98;
	}
	100%{
		background-color:#AA6;
	}
}
	@keyframes spin{
			0%, 50%, 100%{
				transform:rotate(1.5deg);
				border:#CC8 5px solid;
				border-radius:45px;
			}
			25%{
				transform:rotate(-1.5deg);
				border:#AAA 5px solid;
				border-radius:5px;
			}
			75%{
				transform:rotate(-1.5deg);
				border:#AAA 5px solid;
				border-radius:5px;
			}
		}
@keyframes name{
	from{font-size:48px;}
	to{font-size:86px;}
}
body{
	animation:backgroundAnim 15s alternate infinite;
	margin: 0 auto;
	font-family: 'Metamorphous', sans-serif;
}
nav{
	overflow:auto;
	border-bottom:#2446BB 2px ridge;
	opacity:.95;
	background-color:#C4D288;
	margin:0 auto;
//	vertical-align:middle;
}


nav ul li{ 
	list-style:none;
	display:inline-block;
	

}
nav ul li a:hover{
	opacity:.9;
	margin:1 8 1 8px;
	width:25%;
	animation:hoverBtn 2s linear alternate infinite;
}
nav ul li a{
	color:black;
	text-decoration:none;
	padding:9px;
	margin:1px;
	height:70px;
	width:20%;
	background-color:green;
	box-shadow: 1px 1px 2px #000; 
}
.contentWrapper{
	display:none;
}
.contentWrapper:target{
	
	display:inline-block;
	animation:navTransition 2s;
	width:100%;
	height:80%;
//	background-color:red;

}
/*About */
#Name{
	display:block;
	position:fixed;
	width:100%;
	text-align:center;
	top:25%;

	}
#Name h1{
	font-size:86px;
	animation: name 7.5s ease-in alternate;
}
#AboutDesc{
	display:none;
	position:fixed;
	top:45%;
	font-family:Gothic, serif;
	font-size:24px;
	margin:35px;
	padding:20px;

}

#About:hover #AboutDesc{
	display:block;
	animation:spin 10s linear infinite;
}
#AboutDesc:hover{
	animation:0;
}
/*Projects*/


#Projects h3{
	margin-top:0;
}
/*Board*/
/*Music*/
#Music{
	background-color:orange;
}
.project, #MusicDesc{
	margin:5px;
	padding:20px 15px 20px 15px;
	border: silver 1px solid;
	box-shadow: 1px 1px 2px #000; 
	opacity:.95;
	background-color:beige;

}

